@font-face{
	font-family: "roboto";
src: url("../fonts/roboto/Roboto-Regular.ttf);
}
@font-face{
	font-family: "ingiriArial";
src: url("../fonts/bpg_ingiri_arial/bpg_ingiri_arial.ttf);
}
@font-face{
	font-family: "myriadpro";
src: url("../fonts/Myriad Pro Regular/Myriad Pro Regular.ttf);
}

